# Java/Spring 관련
back/target/
back/.idea/
back/.classpath
back/.project
back/.settings/
back/*.iml
back/src/main/resources/application.properties
back/src/main/resources/application-dev.properties
back/src/main/resources/application-prod.properties

# Node.js/React 관련
front/node_modules/
front/.next/
front/.idea/
front/build/
front/.env.local
front/.env.development
front/.env.production
front.iml

**/node_modules/

# 공통
.DS_Store
.env
.idea/
.vscode/
logs