.main-container {
    padding: 20px;
    flex-direction: column;
    flex: 1;
}

/* 메인 게시판 */
.search-container {
    position: fixed;
    display: flex;
    gap: 6px; /* 요소 간 간격 */
    right: 60px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.search-container.scroll {
    opacity: 0.7;
}

.boardTitle {
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 15px;
    font-family: TmoneyRoundWindExtraBold;
}

.search-count {
    margin-right: 10px
}

.search-count,
.search-select,
.search-input,
.search-button {
    height: 40px; /* 동일한 높이 */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 게시글 관련 */
.board {
    text-align: center;
}

.areaInput {
    height: 100px;
    resize: none;
}

.contentsInput {
    min-height: 400px;
}

.contentsInput img {
    height: auto;
    width: 450px;
}

.contentsInput.form-control {
    min-height: 400px;
}

.contentsInput:disabled {
    min-height: 400px;
    background-color: white;
}

/*댓글 열 정렬*/
.comment th,
td {
    vertical-align: middle;
}

/*댓글 등록버튼*/
.comment .td3 {
    text-align: center;
}

/*공통 버튼*/
.common_btn {
    height: 40px; /* 동일한 높이 */
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    border-style: unset;
}

.common_btn:hover {
    color: white;
    background-color: grey;
}

.user_board_btn {
    float: right;
}

.user_board_btn button {
    margin: 3px;
}

.append {
    float: right;
}

.temp {
    margin-left: 5px;
    float: right;
}

.comment {
    background-color: unset;
    color: black;
}

.comment:hover {
    background-color: unset;
    color: grey;
}

.recommend {
    background-color: palegreen;
}

.recommend:hover {
    background-color: mediumseagreen;
}

.thumb_btn {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.thumb_btn:hover,
.comment_del:hover {
    cursor: pointer;
}

.comment_del {
    float: right;
    width: 20px;
    height: 20px;
}

.pagination-custom {
    justify-content: center;
}

.pagination-custom .page-item {
    background-color: unset;
    max-width: 100%;
    margin: 0 5px;
    text-align: center;
    display: flex; /* Flexbox 적용 */
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 */
    font-family: TmoneyRoundWindExtraBold;
}

.pagination-custom .page-item .page-link {
    border-radius: 50px;
    width: 45px;
    border-color: beige;
    color: black;
    padding: 10px;
}

.pagination-custom .page-item.disabled .page-link {
    background-color: unset;
}

.pagination-custom .page-item.active .page-link {
    color: white;
    background-color: black;
}

.contents-td {
    line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

.contents-td:hover {
    cursor: pointer;
}

.fileForm p {
    margin-right: 3px;
}

.common_btn.mg {
    margin: 3px;
}

.common_btn.add {
    margin: 3px;
    width: 40px;
}

.file-view {
    color: black;
}

.file-view:hover {
    color: #0679ec;
    cursor: pointer;
}

.file-div {
    width: 80%;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: #dee2e6;
    margin-bottom: 5px;
}

.file-div p {
    margin: unset;
}

.fileForm div {
    width: 80%;
}

.fileForm p {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.comment_del.file {
    float: unset;
    margin-left: 5px;
}

.commentHead {
    display: flex;
}

.timeList {
    margin-left: 15px;
}

.time {
    margin: 5px;
    color: lightgrey;
}

.time.asc,
.time.desc {
    color: black;
}

.time:hover {
    cursor: pointer;
}

.contents-section {
    width: 1000px;
    height: 1000px;
}

.drawing {
    touch-action: none;
    height: 100%;
    width: 1800px;
}

.tools {
    top: 15%;
    left: 80%;
    position: fixed;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 500px;
    background-color: rgba(225, 225, 225, 0.45);
}

.tools select {
    padding: 3px;
    width: 50px;
}

.tools div,
.tools select,
.tools button,
.tools input,
.tools p {
    margin: 5px;
}

.tools p {
    font-size: 0.8rem;
}

.drawing-contents {
    height: 100%;
    width: 80%;
    border: 1px solid #cccccc;
}

.drawing-contents .sketchCanvas {
    min-height: 100%;
    min-width: 100%;
}

.custom-range {
    -webkit-appearance: none; /* 기본 스타일 제거 */
    width: 150px;
    background: #cccccc;
    border-radius: 10px;
    margin-top: 20px;
}

.custom-range::-webkit-slider-runnable-track {
    width: calc(100% + 20px); /* thumb width의 반만큼 늘려줌 */
    margin-right: -30px;
    height: 10px;
    position: relative;
    border-radius: 10px;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: url("../../assets/img/411049513_d9ddbb18-4ff5-4f58-a6ca-e2047047cfde-removebg-preview.png");
    background-size: cover;
    border: none;
    margin-left: -6px;
    margin-top: -28px;
    cursor: pointer;
}