.user-container {
    width: 20%;
    float: left;
}

.user-container2,
.user-container3,
.user-container4 {
    float: left;
}

.user-container2 .form-wrapper {
    min-width: 60vh;
}

.user-container3 .form-wrapper {
    min-width: 50vh;
}


.user-container4 .form-wrapper {
    min-width: 50vh;
}

.user-container .input-group {
    position: relative;
    width: 100%;
    margin: 0.5rem 0;
}

.form.sign-up {
    transition-delay: unset;
    margin: 10px;
    height: 60vh;
}

.form .complete {
    background-color: #DB4437;
    line-height: initial;
    width: 40%;
}

.form .complete:hover {
    background-color: rgba(219, 68, 55, 0.66);
}

.user-container.sign-up .form.sign-up,
.user-container.sign-up,
.user-container.sign-up > div,
.user-container2.sign-up .form.sign-up,
.user-container2.sign-up,
.user-container2.sign-up > div,
.user-container3.sign-up .form.sign-up,
.user-container3.sign-up,
.user-container3.sign-up > div,
.user-container4.sign-up .form.sign-up,
.user-container4.sign-up,
.user-container4.sign-up > div {
    transform: scale(1);
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.title:hover {
    cursor: pointer;
}

.boardList {
    max-height: 90%;
    overflow-y: auto;
}

.boardList .date {
    font-size: 0.8rem;
}

.boardList:hover {
    scrollbar-width: thin;
}

.form .mod-btn {
    line-height: initial;
    width: 40%;
}

.form .mod-btn:hover {
    background-color: #dee2e6;
}