.main-container {
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
}

/* 메인 게시판 */
.search-container {
  display: flex;
  gap: 8px; /* 요소 간 간격 */
  width: 100%;
  justify-content: flex-end;
}

.search-select,
.search-input,
.search-button {
  height: 40px; /* 동일한 높이 */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: #0056b3;
}


/* 게시글 관련 */
.board {
  text-align: center;
}

.areaInput {
  height: 100px;
  resize: none;
}

.contentsInput {
  height: 400px;
  resize: none;
}

.contentsInput:disabled {
  background-color: white;
}

.comment th, td {
    vertical-align: middle;
}

.comment .td3{
    text-align: center;
}

.delete-btn {
    float: right;
    padding: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-board {
    float: right;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination {
    justify-content: center;
}