.search-container {
    display: flex;
    align-items: end;
    gap: 8px; /* 요소 간 간격 */
    width: 100%;
    justify-content: flex-end;
}

.search-select,
.search-input,
.search-button {
    height: 40px; /* 동일한 높이 */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-button:hover {
    background-color: #0056b3;
}