.main-container {
    margin: 40px;
    flex-direction: column;
    flex: 1;
}

/* 메인 게시판 */
.search-container {
    display: flex;
    gap: 8px; /* 요소 간 간격 */
    width: 100%;
    justify-content: flex-end;
}

.search-count {
    position: absolute;
    left: 40px;
}

.search-count,
.search-select,
.search-input,
.search-button {
    height: 40px; /* 동일한 높이 */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 게시글 관련 */
.board {
    text-align: center;
}

.areaInput {
    height: 100px;
    resize: none;
}

.contentsInput {
    height: 400px;
    resize: none;
}

.contentsInput:disabled {
    background-color: white;
}

/*댓글 열 정렬*/
.comment th,
td {
    vertical-align: middle;
}

/*댓글 등록버튼*/
.comment .td3 {
    text-align: center;
}

/*공통 버튼*/
.common_btn {
    height: 40px; /* 동일한 높이 */
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    border-style: unset;
}

.common_btn:hover {
    color: white;
    background-color: grey;
}

.user_board_btn {
    float: right;
}

.user_board_btn button {
    margin: 3px;
}

.append {
    float: right;
}

.comment {
    background-color: unset;
    color: black;
}

.comment:hover {
    background-color: unset;
    color: grey;
}

.recommend {
    background-color: palegreen;
}

.recommend:hover {
    background-color: mediumseagreen;
}

.thumb_btn {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.thumb_btn:hover,
.comment_del:hover {
    cursor: pointer;
}

.comment_del {
    float: right;
    width: 20px;
    height: 20px;
}

.pagination-custom {
    justify-content: center;
    margin: 10px;
}

.pagination-custom .page-item {
    background-color: unset;
    border-radius: 0;
    min-width: 40px;
    text-align: center;
}

.pagination-custom .page-item .page-link {
    border-color: beige;
    color: black;
}

.pagination-custom .page-item.active .page-link {
    border-color: beige;
    color: white;
    background-color: #757575;
}

.contents-td:hover {
    cursor: pointer;
}

.common_btn.mg {
    margin: 3px;
}

.file-view {
    color: black;
}

.file-view:hover {
    color: #0679ec;
    cursor: pointer;
}

.file-div {
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: #dee2e6;
}

.file-div p {
    margin: unset;
}

.fileForm p {
    margin: 3px;
}


.comment_del.file {
    float: unset;
    margin-left: 5px;
}

.commentHead {
    display: flex;
}

.timeList {
    margin-left: 15px;
}

.time {
    margin: 5px;
    color: lightgrey;
}

.time.asc,
.time.desc {
    color: black;
}

.time:hover {
    cursor: pointer;
}